spring/SOAP Client/src/wsdl/BeerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web.beers.spring.noelvaes.eu/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://web.beers.spring.noelvaes.eu/" name="BeerService">
   <types>
      <xsd:schema>
         <xsd:import namespace="http://web.beers.spring.noelvaes.eu/"
                     schemaLocation="http://localhost/BeerService?xsd=1"/>
      </xsd:schema>
   </types>
   <message name="orderBeer">
      <part name="parameters" element="tns:orderBeer"/>
   </message>
   <message name="orderBeerResponse">
      <part name="parameters" element="tns:orderBeerResponse"/>
   </message>
   <message name="InvalidBeerException">
      <part name="fault" element="tns:InvalidBeerException"/>
   </message>
   <message name="InvalidNumberException">
      <part name="fault" element="tns:InvalidNumberException"/>
   </message>
   <message name="getBeerById">
      <part name="parameters" element="tns:getBeerById"/>
   </message>
   <message name="getBeerByIdResponse">
      <part name="parameters" element="tns:getBeerByIdResponse"/>
   </message>
   <portType name="BeerServiceEndpoint">
      <operation name="orderBeer">
         <input wsam:Action="http://web.beers.spring.noelvaes.eu/BeerServiceEndpoint/orderBeerRequest"
                message="tns:orderBeer"/>
         <output wsam:Action="http://web.beers.spring.noelvaes.eu/BeerServiceEndpoint/orderBeerResponse"
                 message="tns:orderBeerResponse"/>
         <fault message="tns:InvalidBeerException" name="InvalidBeerException"
                wsam:Action="http://web.beers.spring.noelvaes.eu/BeerServiceEndpoint/orderBeer/Fault/InvalidBeerException"/>
         <fault message="tns:InvalidNumberException" name="InvalidNumberException"
                wsam:Action="http://web.beers.spring.noelvaes.eu/BeerServiceEndpoint/orderBeer/Fault/InvalidNumberException"/>
      </operation>
      <operation name="getBeerById">
         <input wsam:Action="http://web.beers.spring.noelvaes.eu/BeerServiceEndpoint/getBeerByIdRequest"
                message="tns:getBeerById"/>
         <output wsam:Action="http://web.beers.spring.noelvaes.eu/BeerServiceEndpoint/getBeerByIdResponse"
                 message="tns:getBeerByIdResponse"/>
      </operation>
   </portType>
   <binding name="BeerServiceEndpointPortBinding" type="tns:BeerServiceEndpoint">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <operation name="orderBeer">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
         <fault name="InvalidBeerException">
            <soap:fault name="InvalidBeerException" use="literal"/>
         </fault>
         <fault name="InvalidNumberException">
            <soap:fault name="InvalidNumberException" use="literal"/>
         </fault>
      </operation>
      <operation name="getBeerById">
         <soap:operation soapAction=""/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>
      </operation>
   </binding>
   <service name="BeerService">
      <port name="BeerServiceEndpointPort" binding="tns:BeerServiceEndpointPortBinding">
         <soap:address location="http://localhost/BeerService"/>
      </port>
   </service>
</definitions>